<div class="shopContainer">
  <div class="main">
    <mat-card
      style="
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 10px;
      "
    >
      <h1><b>View Bookings</b></h1>
    </mat-card>

    <full-calendar
      [options]="calendarOptions"
    ></full-calendar>

    <div class="add-shop" *ngIf="!slots || !slots.length">
      <h2>No Slots Booked</h2>
      <button class="button" routerLink="/shopkeeper/add-shop">
        <span class="button-content">Add Shop</span>
      </button>
    </div>
  </div>
</div>