<app-navbar></app-navbar>


	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper div">
				<img src="../../../assets/images/slider1.jpg" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>Unlock Your Radiance: Reserve Your Salon Appointment Online Now!</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper div">
				<img src="../../../assets/images/slider2.jpg" alt="Random second slide" />
			</div>
			<div class="carousel-caption">
				<h3>Schedule Your Salon Sparkle with a Click!</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper div">
				<img src="../../../assets/images/slider3.jpg" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>Book Your Beauty Bliss Online!</h3>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			</div>
		</ng-template>
	</ngb-carousel>

  