<div class="main-div">
  <div class="services" *ngIf="services && services.length">
    <div class="service" *ngFor="let service of services">
      <div class="left">
        <h1>{{ service.serviceName }}</h1>
        <div class="price-time">
          <div class="time">
            <p>{{ service.servicePrice | currency : "INR" }}</p>
          </div>
          <div class="time">
            <p>{{ service.serviceDuration | duration }}</p>
          </div>
        </div>
        <div class="discription">
          <p>{{ imageDescriptions[service.serviceName] }}</p>
        </div>
      </div>
      <div class="right">
        <div class="img">
          <img [src]="imagePaths[service.serviceName]" alt="img" />
        </div>
        <button class="add-btn" (click)="addToCart(service)">Add</button>
      </div>
    </div>
  </div>

  <div class="card">
    <span class="span">{{ shopName }}</span>
    <p class="shop-address"><img id="location-icon" src="https://static.vecteezy.com/system/resources/previews/000/583/611/original/location-icon-vector.jpg" alt="">{{shopAddress}}</p>
    <div class="products" *ngIf="serviceCountMap.size">
      <div class="product" *ngFor="let entry of serviceCountMap.entries()">
        <div class="product-details">
          <h3>{{ entry[0].serviceName }}</h3>
          <div class="price">
            <p>{{ entry[0].servicePrice | currency : "INR" }}</p>

            <!-- <p>{{ entry[0].price }}</p> -->
          </div>
        </div>
        <button class="product-btn">
          <span (click)="removeItem(entry[0])">-</span>{{ entry[1]
          }}<span (click)="addItem(entry[0])">+</span>
        </button>
      </div>
    </div>

    <div class="product-card" *ngIf="!serviceCountMap.size">
      <div class="empty-product">
        <img src="../../../../../../assets/images/empty_product.svg" alt="Error" />
      </div>
      <p>No item in your card</p>
    </div>

    <div class="total-div"  *ngIf="serviceCountMap.size">
      <button (click)="viewSlots()" class="total" *ngIf="serviceCountMap.size">
        <div class="price">
          <p style="color: white">{{ totalAmount | currency : "INR" }}</p>
        </div>
        <p style="color: white">View Cart</p>
      </button>
    </div>
  </div>
</div>
