<div class="main-div">
  <div class="upper">
    <div class="info">
      <h1>{{shopName}}</h1>
      <p>{{shopAddress}}</p>
    </div>
    <div class="date">

      <form >
            <input type="date" id="date" name="date" [min]="minDate" [max]="maxDate" [(ngModel)]="selectedDate" (ngModelChange)="onDateSelected()">
        </form>

    </div>
  </div>
  <div class="down">
    <div class="slots" *ngFor="let key of availableSlots.entries()">
        <div class="left">
          <h2>{{ getName(key[0]) }}</h2>
        </div>
        <div class="right">
          <button class="button-37" *ngFor="let time of key[1]" id="btn" role="button" (click)="bookSlot(time, getEmpId(key[0]))">{{ time }}</button>
        </div>
        <div class="right message" *ngIf="!key[1].length">There is No any slot avilable in this date</div>
    </div>

</div>
</div>
