<div class="container">
    <h2>Forget Password</h2>
    <form *ngIf="form1" [formGroup]="forgetPassword">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" formControlName="email" id="email" name="email" required>
        </div>
        
        <button class="button" [disabled]="disabled" mat-raised-button color="primary" (click)="sendOTP()">Send OTP</button>
        <div *ngIf="disabled">Button disabled for {{ remainingTime }} seconds</div>

        <div class="form-group">
            <label for="OTP">Enter the OTP</label>
            <input type="number" formControlName="otpclient" id="number" name="number" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Verify OTP" (click)="verifyOTP()">
        </div>
    </form>

    <form *ngIf="form2" >
        <div class="form-group" [formGroup]="setPwd">
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="Comfirm Passwird">Confirm Passeword</label>
            <input type="password" id="cnfPassword" name="Comfirm Password" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Set Password" (click)="setPassword()">
        </div>
    </form>
</div>