<div class="container">
  <div class="profile-header">
    <img src="assets\images\licence_7418529631.jpg" alt="Profile Picture"><br>
    <label>Change Profile image <mat-icon class="edit">edit</mat-icon><input type="file" name="profile" style="display: none;"></label>
    <h1>{{owner.fullName}}</h1>
  </div>
  <div class="profile-info">
    <p><strong>Email :</strong> {{owner.email}}</p>
    <p><strong>Contact Number :</strong> {{owner.contactNumber}}</p>
    
  </div>
  <div class="profile-actions">
    <button class="btn">Edit Profile</button>
    <button class="btn">Change Password</button>
  </div>
</div>